form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.label {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-inline: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
}

input {
    width: 90%;
    padding: 8px;
    border-radius: 16px;
    border: solid 1px lightgrey;
}

.description input {
    height: 160px;
}

button {
    width: 77%;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 48px;
    padding: 8px;
    border-radius: 16px;
    border: solid 1px lightgrey;
    color: white;
    font-weight: bold;
    background-color: #3DC4FD;
}